.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  display: flex;
  width: 50%;
}

input, label, button, select {
  width: 50%;
}

input, select {
  margin-bottom: 20px;
}

input[type="checkbox"] {
  width: 50px;
  margin-left: 20px;
}
